<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>学校管理</title>
    <link rel="stylesheet" href="source/layui/css/layui.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="admin/common::topbar"></div>
    <div class="layui-body">
        <br>&nbsp;&nbsp;&nbsp;
        <button type="button" class="layui-btn" data-toggle="modal" data-target="#myModal" id="addschoolbtn">添加学校
        </button>
        <!-- 内容主体区域 -->
        <table class="layui-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>学校名称</th>
                <th>学校地址</th>
                <th>学费</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="log:${logs}">
                <th width="16%">[[${log.id}]]</th>
                <th width="20%">[[${log.sname}]]</th>
                <th width="24%">[[${log.saddress}]]</th>
                <th width="16%">[[${log.smoney}]]</th>
                <th width="20%">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="layui-btn layui-btn-primary selectschool" th:data-id="${log.id}" data-toggle="modal"
                       data-target="#myModal">编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="layui-btn layui-btn-primary deleteschool" th:data-id="${log.id}">删除</a>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="admin/common::footbar"></div>
</div>
<!--模拟框-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    问题详情
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="asname">学校名称</label>
                        <input type="text" class="form-control" id="asname">
                    </div>
                    <div class="form-group">
                        <label for="asaddress">学校地址</label>
                        <input type="text" class="form-control" id="asaddress">
                    </div>
                    <div class="form-group">
                        <label for="asprice">学费</label>
                        <input type="text" class="form-control" id="asprice">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-info" id="imgbtn3">添加/修改图片</button>
                <button type="button" class="btn btn-primary" id="sbtn">添加</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script src="source/layui/layui.js" charset="utf-8"></script>
<script src="source/jquery-3.5.1/jquery-3.5.1.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;
    });

    //上传图片
    layui.use('upload', function () {
        var upload = layui.upload;
        var id = localStorage.getItem("id");
        var uploadInst = upload.render({
            elem: '#imgbtn3' //绑定元素
            , url: '/upload3/' + id + '.do' //上传接口
            , done: function (res) {
                alert("上传成功");
            }
            , error: function () {
                alert("异常，请重试");
            }
        });
    });


    //修改模态框的文字
    $("#addschoolbtn").click(function () {
        $("#imgbtn3").hide();
        $("#myModalLabel").html("添加学校");
        $("#sbtn").text("添加");
        $("#asname").val('');
        $("#asaddress").val('');
        $("#asprice").val('');
    });

    //公用方法
    $("#sbtn").click(function () {
        var val = $("#sbtn").text();
        if (val == '添加') {
            add();
        }
        else if (val == '更新') {
            update();
        }
    });

    //编辑
    $(".selectschool").click(function () {
        var id = $(this).attr("data-id");
        $("#imgbtn3").show();
        localStorage.setItem("id", id);
        $.ajax({
            type: "POST",
            url: "/selectschool.do",
            dataType: "json",
            contentType: "application/json;charset=UTF-8",
            data: id,
            success: function (data) {
                $("#myModalLabel").html("修改学校");
                $("#sbtn").text("更新");
                $("#asname").val(data.sname);
                $("#asaddress").val(data.saddress);
                $("#asprice").val(data.smoney);
            }
        });
    });

    //删除
    $(".deleteschool").click(function () {
        var id = $(this).attr("data-id");
        $.ajax({
            type: "POST",
            url: "/deleteschool.do",
            dataType: "json",
            contentType: "application/json;charset=UTF-8",
            data: id,
            success: function (data) {
                alert(data);
                if (data == "删除成功") {
                    window.location.href = window.location.href;
                }
            }
        });
    });


    //    添加
    function add() {
        var asname = $("#asname").val();
        var asaddress = $("#asaddress").val();
        var asprice = $("#asprice").val();
        if (asname == '') {
            alert("学校名称不能为空");
        }
        else if (asaddress == '') {
            alert("学校地址不能为空");
        }
        else if (asprice == '') {
            alert("学费不能为空");
        }
        else {
            if (confirm("确认添加？")) {
                var array = [asname, asaddress, asprice];
                $.ajax({
                    type: "POST",
                    url: "/addSchool.do",
                    dataType: "json",
                    contentType: "application/json;charset=UTF-8",
                    data: JSON.stringify(array),
                    success: function (data) {
                        alert(data);
                        if (data == '添加成功') {
                            window.location.href = window.location.href;
                        }
                    }
                });
            }
        }
    }


    //    更新
    function update() {
        var id = localStorage.getItem("id");
        var asname = $("#asname").val();
        var asaddress = $("#asaddress").val();
        var asprice = $("#asprice").val();
        if (confirm("确认修改?")) {
            var array = [id, asname, asaddress, asprice];
            $.ajax({
                type: "POST",
                url: "/updateSchool.do",
                dataType: "json",
                contentType: "application/json;charset=UTF-8",
                data: JSON.stringify(array),
                success: function (data) {
                    alert(data);
                    if (data == '更新成功') {
                        window.location.href = window.location.href;
                    }

                }
            });
        }
    }
</script>
</body>
</html>