<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>附近房源</title>
    <link rel="stylesheet" href="source/layui/css/layui.css">
    <style>
        .hh {
            display: inline;
        }
        a：hover{
            cursor:pointer
        }
    </style>
</head>
<body>
<ul class="layui-nav" style="text-align: center;">
    <li class="layui-nav-item"><a th:href="@{/indexHtml.do}">首页</a></li>
    <li class="layui-nav-item"><a th:href="@{/consHtml.do}">留学资讯</a></li>
    <li class="layui-nav-item"><a th:href="@{/cteacherHtml.do}">教师列表</a></li>
    <li class="layui-nav-item"><a th:href="@{/popularSchoolHtml.do}">热门学校</a></li>
    <li class="layui-nav-item"><a th:href="@{/courseShopHtml.do}">课程列表</a></li>
    <li class="layui-nav-item"><a th:href="@{/shoppingcarHtml.do}" th:if="${session.loginUser}!=null">购物车</a></li>
    <li class="layui-nav-item">
        <a href="javascript:;">我的</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a th:href="@{/loginHtml.do}" th:if="${session.loginUser}==null">登陆</a></dd>
            <dd><a th:href="@{/personalHtml.do}" th:if="${session.loginUser}!=null">修改密码</a></dd>
            <dd><a th:href="@{/mybuy.do}" th:if="${session.loginUser}!=null">我买到的</a></dd>
            <dd><a th:href="@{/quit.do}" th:if="${session.loginUser}!=null">退出登陆</a></dd>
        </dl>
    </li>
</ul>
<br><br>
<h2 align="center">附近房源</h2>
<br>
<table>
    <tr id="bodyDiv">

    </tr>
</table>
<br><br>
</body>
<script src="source/layui/layui.js" charset="utf-8"></script>
<script src="source/jquery-3.5.1/jquery-3.5.1.min.js"></script>
<script>
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function () {
        var element = layui.element;
    });

    window.onload = function () {
        var id = localStorage.getItem("hid");
        localStorage.removeItem("hid");
        var array = [id];
        $.ajax({
            type: "POST",
            url: "initHouse.do",
            dataType: "json",
            scriptCharset: 'utf-8',
            contentType: "application/json;charset=UTF-8",
            data: JSON.stringify(array),
            success: function (data) {
                if (data == '当前没用用户登录，请登录重试！') {
                    alert(data);
                    return;
                }
                var html = show(data);
                $("#bodyDiv").html(html);
            }
        });
    };

    //预定酒店
    function orderhouse(e) {
        var array = [e];
        $.ajax({
            type: "POST",
            url: "/houseOrderHtml.do",
            dataType: "json",
            contentType: "application/json;charset=UTF-8",
            data: JSON.stringify(array),
            success: function (data) {
                if (data == 'success') {
                    window.location.href = '/payhouseOrderHtml.do';
                }
                else {
                    alert("遇到错误啦请重试！！！");
                }
            }
        });
    }

    function show(data) {
        var html = '';
        for (var i = 0; i < data.length; i++) {
            html += '<div class="layui-container"><br><br><br>';
            html += '<div class="layui-row">';
            html += '<div class="layui-col-md6">';
            html += '<img class="layui-col-md-offset6" src="' + data[i].hpic + '" width="180px" height="180px">';
            html += '</div>';
            html += '<div class="layui-col-md6">';
            html += '<div class="layui-card">';
            html += '<div class="layui-card-header">';
            html += '<h3><strong>' + data[i].hname + '</strong></h3></div>';
            html += '<div class="layui-card-body">';
            html += '地址：<p class="hh">' + data[i].haddress + '</p><br>';
            html += '价格：<h4 style="color: #FD482C" class="hh">' + data[i].hprice + '</h4>&nbsp;&nbsp;¥<br>';
            html += '人气指数：🌟🌟🌟🌟🌟<br>'
            html += '<button type="button" class="layui-btn layui-btn-radius" style="width: 19%" onclick="orderhouse(' + data[i].id + ')">预定酒店</button>';
            html += '</div></div></div></div></div>';
        }
        return html;
    }
</script>
</html>